@model LessonMvc.Models.Book;


@{
    ViewData["Title"] = "Books Thanks";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

</div>

@Model.Baslik <br>
@Model.Aciklama <br>
@Model.Tur <br>


